snippet link "hyperlink an article"
[[notes/$1|$1]]
endsnippet

snippet wiki "hyperlink a wiki page"
[[wiki/$1|$1]]
endsnippet

snippet web "hyperlink a web page"
[[web/$1|$1]]
endsnippet

snippet cite "place in citation format"
[[notes/$1|${2:t (in-text) or p (parenthesis)},${3:page},$1]]
endsnippet
